<!-- <!doctype html>
<html lang="en">

<style type='text/css'>
    * {
        padding: 0;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }


    body {
        background-image: url('Background.jpg');
        background-size: cover;
        font-family: sans-serif;
        margin-top: 40px;
        padding: 0;
        margin: 0;
    }

    table {
        border-radius: 20px;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 86%;
        margin: auto;
    }
    td,
    th {
        padding: 10px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
     <link rel = "stylesheet" href = "https://fonts.googleapis.com/css2?family = New+Amsterdam & display = swap">
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/css2?family = Playfair+Display & display = swap">
<link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel = "stylesheet"
        integrity = "sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin = "anonymous">

    <title>AttendEase</title>

</head>
<body>
    <div class = 'mt-3 text center' style = "background-color: rgba(44, 117, 255, 1);">
        <h1 style = "color: white; padding: 11px; font-size: 44px: margin-top: 100px; font-family: 'Playfair Display', sans-serif;">AttendEase</h1>
       </div>

       {% if mess%}
       <p class = "text-center" style = "color: red; font-size: 20px;"{{ mess }}></p>
       {% endif %}
       
       <div class = "row text-center" style = "padding: 20px; margin: 20px;">

        <div class="col"
            style="border-radius: 20px; padding: 0px; background-color: rgba(0, 0, 0, 0.8); margin:0px 10px 10px 10px; min-height: 400px;">
            <h2 style="border-radius: 20px 20px 0px 0px; background-color: rgb(44, 117, 255, 1) ; color: white; padding: 10px; font-family: 'New Amsterdam';">Today's Attendance <i class="material-icons">assignment</i></h2>
            
            <table style="background-color: white;">
                <tr>
                    <td><b>Name</b></td>
                    <td><b>ID</b></td>
                    <td><b>Time</b></td>
                </tr>
                {% if l %}

                {% for i in range(l) %}
                <tr>
                    <td>{{ names[i] }}</td>
                    <td>{{ id[i] }}</td>
                    <td>{{ times[i] }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
            <a style="text-decoration: none; max-width: 300px;" href="/start">
                  <button
                          style = "font-size: 24px; font-weight: bold; border-radius: 10px; width:320px; padding: 10px; margin-top: 30px; margin-bottom: 30px; justify-content: center; align-items: center; font-family: 'New Amsterdam';"
                      type = 'submit' class = 'btn btn-primary'>Mark Attendance <i
                          class = "material-icons">beenhere</i></button>
              </a>
            </div>
            <div class = "col"
            style = "border-radius: 20px; padding: 0px; background-color: rgb(0, 0, 0, 0.8); margin: 0px 10px 10px 10px; height: 400px;">
            <form action = '/add' method = "POST" enctype = "multipart/form-data">
                <h2 style = "border-radius: 20px 20px 0px 0px; background-color: rgb(216, 13, 77) ; color: white; padding: 10px; font-family: 'New Amsterdam';" > Add New User <i class = "material-icons"> control_point_duplicate </i> </h2>
                <label style = "font-size: 20px; color: white"> <b> Enter New User Name* </b> </label>
                <br>
                <input type = "text" id = "newusername" name = 'newusername'
                    style = "font-size: 20px;margin-top:10px;margin-bottom:10px;border-radius: 10px;width: 300px; height: 50px;" required>
                <br>
                <label style = "font-size: 20px;color: white"> <b> Enter New User Id* </b> </label>
                <br>
                <input type = "number" id = "newusereid" name = 'newuserid'
                    style = "font-size: 20px;margin-top:10px;margin-bottom:10px;border-radius: 10px; width: 300px; height: 50px;" required>
                <br>
                <button style = "width: 232px;margin-top: 20px;font-size: 20px; border-radius: 10px; width: 300px; height: 50px;" type = 'submit' class = 'btn btn-dark'> Add New User </button>
                <br>
                <h5 style="padding: 25px; color: white;"><i>Total Users in Database: {{totalreg}}</i></h5>
            </form>
        </div>

    </div>
</body>
    </html>
-->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>AttendEase</title>

    <style type='text/css'>
        * {
            padding: 0;
            margin: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        body {
            background-image: url('Background.jpg');
            background-size: cover;
            margin-top: 40px;
            padding: 0;
        }

        table {
            border-radius: 20px;
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 86%;
            margin: auto;
        }

        td,
        th {
            padding: 10px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <div class='mt-3 text-center' style="background-color: rgba(44, 117, 255, 1);">
        <h1 style="color: white; padding: 11px; font-size: 44px; margin-top: 100px; font-family: 'Playfair Display', sans-serif;">AttendEase</h1>
    </div>

    {% if mess %}
    <p class="text-center" style="color: red; font-size: 20px;">{{ mess }}</p>
    {% endif %}

    <div class="row text-center" style="padding: 20px; margin: 20px;">
        <div class="col"
            style="border-radius: 20px; padding: 0px; background-color: rgba(0, 0, 0, 0.8); margin:0px 10px 10px 10px; min-height: 400px;">
            <h2 style="border-radius: 20px 20px 0px 0px; background-color: rgb(44, 117, 255); color: white; padding: 10px; font-family: 'New Amsterdam';">Today's Attendance <i class="material-icons">assignment</i></h2>

            <table style="background-color: white;">
                <tr>
                    <td><b>Name</b></td>
                    <td><b>ID</b></td>
                    <td><b>Time</b></td>
                </tr>
                {% if l %}
                {% for i in range(l) %}
                <tr>
                    <td>{{ names[i] }}</td>
                    <td>{{ id[i] }}</td>
                    <td>{{ times[i] }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
            <a style="text-decoration: none; max-width: 300px;" href="/start">
                <button style="font-size: 24px; font-weight: bold; border-radius: 10px; width:320px; padding: 10px; margin-top: 30px; margin-bottom: 30px; justify-content: center; align-items: center; font-family: 'New Amsterdam';" type='submit' class='btn btn-primary'>Mark Attendance <i class="material-icons">beenhere</i></button>
            </a>
        </div>

        <div class="col"
            style="border-radius: 20px; padding: 0px; background-color: rgba(0, 0, 0, 0.8); margin: 0px 10px 10px 10px; height: 400px;">
            <form action='/add' method="POST" enctype="multipart/form-data">
                <h2 style="border-radius: 20px 20px 0px 0px; background-color: rgb(216, 13, 77); color: white; padding: 10px; font-family: 'New Amsterdam';">Add New User <i class="material-icons">control_point_duplicate</i></h2>
                <label style="font-size: 20px; color: white"><b>Enter New User Name*</b></label>
                <br>
                <input type="text" id="newusername" name='newusername'
                    style="font-size: 20px; margin-top: 10px; margin-bottom: 10px; border-radius: 10px; width: 300px; height: 50px;" required>
                <br>
                <label style="font-size: 20px; color: white"><b>Enter New User Id*</b></label>
                <br>
                <input type="number" id="newuserid" name='newuserid'
                    style="font-size: 20px; margin-top: 10px; margin-bottom: 10px; border-radius: 10px; width: 300px; height: 50px;" required>
                <br>
                <button style="width: 232px; margin-top: 20px; font-size: 20px; border-radius: 10px; width: 300px; height: 50px;" type='submit' class='btn btn-dark'>Add New User</button>
                <br>
                <h5 style="padding: 25px; color: white;"><i>Total Users in Database: {{ totalreg }}</i></h5>
            </form>
        </div>
    </div>
</body>

</html>
